.google-home-nav__profile-image {
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    margin-right: 30px;
    cursor: pointer;
}

.google-home-nav__apps-icon {
    opacity: .55;
    padding-right: 15px;
}

.google-home-nav__apps-icon:hover {
    opacity: 1;  
}

.google-home-nav__links {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-family: arial,sans-serif;
    text-decoration: none;
    line-height: 24px;
    padding-right: 15px;
}

.google-home-nav__links:hover {
    text-decoration: underline;
}
.google-home-nav__about {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-family: arial,sans-serif;
    text-decoration: none;
    line-height: 24px;
    cursor: pointer;
    
}

.google-home-nav__store {
    flex-direction: row;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-family: arial,sans-serif;
    text-decoration: none;
    line-height: 24px;
    cursor: pointer;  
}



.google-home-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 10px;
}


.logo {
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.search-bar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    margin-top: 30px;
}

.search-bar:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.search-icon {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    padding-top: 12px;
    padding-left: 12px;
}

.search {
    color: rgba(0,0,0,.87);
    border: hidden;
    width: 85%;
    font-size: 16px;
    font-family: arial, sans-serif;
    outline: 0;
}

.mic-icon {
    height: 24px;
    width: 24px;
    margin: 10px 15px 0px 0px;
    cursor: pointer;
}